@use "./variable" as var;
@use "./mixin" as mixx;

body{
    font-size: var.$font-size-normal;
    background-color: red;
    .login{
        &-form{
            
            display: grid;
            background: linear-gradient(from bottom to top,
                                        rgba(255, 255, 255,0.3),
                                        rbga(255,255,255, 0.7));
            width: 400px;
            height: auto;
            // margin-top: 10px;
            margin: auto;
            border-radius: 20px;
            border-style: solid;
            border-width: 1px;
        }
        &-title{
            color: var.$blue;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        &-input{
            @extend .login-form;
            width: 90%;
            border-width: 0;
        }
    }
    .article-login{
        @extend .login-title;
        font-size: var.$font-size-small;
        margin-top: 5px;
    }
    .input-box{
        @extend .login-title;
        width: 60%;
        transform: translateX(30%);
        font-size: var.$font-size-small - 2;
    }
    #forgot-password{
        font-weight: bold;
        font-size: var.$font-size-normal;
        font-style: italic;
        left: 48%;
        position: relative;
        color: blue;
        margin-top: 10px;
        &:hover{
            color: rgb(71, 46, 46);
            @include mixx.changeCursor;
        }
    }
    .btn{
        transform: translateX(50%);
        width: 50%;
        height: 90%;
        text-align: center;
        @include mixx.changeCursor;
    }
}